.image-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 100px;

  .image-card {
    display: flex;
    flex: 1 1 auto;

    .card__image {
      border: 2px solid black;
      width: 100%;
      height: 100%;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .image-cards {
    width: 600px;
  }
}
