<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer__contacts">
            <h1 class="footer__title">INFO:</h1>
            <ul class="footer__links">
                <li class="footer__link">
                    <a>tg: <a class="footer__link-name" href="https://t.me/EMINBEGIN">EMINBEGIN</a></a>
                </li>
                <li class="footer__link">
                    <a>github: <a class="footer__link-name" href="https://github.com/Eminbegin">Eminbegin</a></a>
                </li>
            </ul>
        </div>
        <div class="footer__load-time">
            <span class="load-time"> @ViewData["time"] </span>
        </div>
    </div>
</footer>